<mat-card>
  <div *ngIf="isLoading" class="spinner">
    <div class="lds-hourglass"></div>
  </div>
  <form (ngSubmit)="onAddPost(f)"
        *ngIf="!isLoading"
        #f="ngForm">
  <mat-form-field>
    <input matInput
           placeholder="Title"
           autocomplete="off"
           [ngModel]="post?.title"
           required
           name="title"
           id="title"
           minlength="3"
           #title="ngModel"
           type="text">
    <mat-error *ngIf="title.invalid">Please enter a post title</mat-error>
  </mat-form-field>
  <mat-form-field>
    <textarea matInput
              placeholder="Content"
              autocomplete="off"
              [ngModel]="post?.content"
              required
              name="content"
              id="content"
              #content="ngModel"
              rows="6"></textarea>
    <mat-error *ngIf="content.invalid">Please enter post content</mat-error>
  </mat-form-field>
  <button mat-raised-button
          [disabled]="f.invalid"
          color="accent"
          type="submit">{{ mode === 'create' ? 'Save Post' : 'Update Post'}}</button>
  </form>
</mat-card>
