<div *ngIf="isLoading"
     class="spinner">
  <div class="lds-hourglass"></div>
</div>

<mat-accordion *ngIf="posts.length && !isLoading; else noPosts"
               multi="true">
  <mat-expansion-panel *ngFor="let post of posts">
    <mat-expansion-panel-header>
      {{ post.title }}
    </mat-expansion-panel-header>
    <div class="post-image">
      <img [src]="post.imagePath" [alt]="post.title">
    </div>
    <p>{{ post.content }}</p>
    <mat-action-row>
      <a mat-button
         [routerLink]="['/edit', post.id]"
         color="primary">Edit</a>
      <button mat-button
              (click)="onDelete(post.id)"
              color="warn">Delete</button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>

<mat-paginator *ngIf="posts.length"
               [length]="totalPosts"
               [pageSize]="postsPerPage"
               [pageSizeOptions]="pageSizeOptions"
               (page)="onChangedPage($event)">
</mat-paginator>

<ng-template #noPosts>
  <p class="info-text mat-body-1">No posts added yet</p>
</ng-template>
